<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <!-- MAIN NAVBAR ============================================= -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >

        <!-- the brand icon: -->
        <a class="navbar-brand" href="/">POKEBUILDER</a>

        <!-- the toggler button for when the navbar gets collapsed -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- the items in the navbar -->
        <div class="collapse navbar-collapse" id="navbar">


            {% if loggedin %}
            <!-- the navbar pieces are grouped together for simple alignment -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/profile">Profile</a>
                <a class="nav-item nav-link" href="/createteam">Create Team</a>
    	    </div>
            <!-- the searchbar -->
    	    <form class="form-inline ml-auto" action="/search">
                <input type="search" placeholder="Search">
    	        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    	    </form>
            <div class="navbar-nav align-self-end">
                <a class="nav-item nav-link" href="/logout">Logout</a>
    	    </div>
            {% else %}
            <!-- the searchbar -->
    	    <form class="form-inline ml-auto" action="/search">
                <input name="search" type="search" placeholder="Search">
    	        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    	    </form>
            <div class="navbar-nav align-self-end">
                <a class="nav-item nav-link" href="/login">Login</a>
                <a class="nav-item nav-link" href="/signup">Signup</a>
    	    </div>
            {% endif %}



        </div>
    </nav>


    {% block body %}{% endblock %}

      <!-- javascript stuff required for dropdowns -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>
