<!doctype html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="shortcut icon" href="https://cdn.shopify.com/s/files/1/0580/0973/products/Pikachu_Face_2048x2048.jpg?v=1488374667" type="image/jpg">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  {% block link %}

  {% endblock %}
</head>
<body style="height:100%; position: relative; min-height: 100vh; padding-bottom: 30px;background-position: center; background-repeat: no-repeat;  background-size: cover;
{% block background %}
{% endblock %}">
<!-- MAIN NAVBAR ============================================= -->
<nav class="navbar navbar-expand-lg navbar-dark"
style="background-color: #D1603D">

<!-- the brand icon: -->
<a class="navbar-brand" href="/"><h3>PokéBuilder</h3></a>

<!-- the toggler button for when the navbar gets collapsed -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
  <span class="navbar-toggler-icon"></span>
</button>

<!-- the items in the navbar -->
<div class="collapse navbar-collapse" id="navbar">


  {% if loggedin %}
  <!-- the navbar pieces are grouped together for simple alignment -->
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/profile">Profile</a>
    <a class="nav-item nav-link" href="/createteam">Create Team</a>
  </div>
  <!-- the searchbar -->
  <form class="form-inline ml-auto" action="/search">
    <input style="margin-right: 10px;" name="search" type="search" placeholder="Team or user name">
    <button style="margin-right: 10px;padding-left: 35px;padding-right: 35px;"class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div class="navbar-nav align-self-end">
    <a class="nav-item btn nav-link-success btn-danger" style="margin-bottom: 2px;" href="/logout">Logout</a>
  </div>
  {% else %}
  <!-- the searchbar -->
  <form class="form-inline ml-auto" action="/search">
    <input style="margin-right: 10px;" name="search" type="search" placeholder="Team or user name">
    <button style="margin-right: 10px;padding-left: 35px;padding-right: 35px;"class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div class="navbar-nav align-self-end">
    <a class="btn nav-link-success btn-success nav-item my-2 my-sm-0" href="/login">Login</a>
    <a class="nav-item nav-link" href="/signup">or Sign up</a>
  </div>
  {% endif %}
</div>
</nav>


<br>
<div class="text-center">
  <div style="color: red; font-style: italic">
   {% set messages=get_flashed_messages() %}
   {% for m in messages %}
   {{m}}
   <br>
   {% endfor %}
 </div>
</div>
<br>


{% block body %}{% endblock %}

<!-- javascript stuff required for dropdowns -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

{% block extrajs %}{% endblock %}
<style>
  .footer {
    min-height: 10vh;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(10, 30, 63, 0.8);
    color: white;
    text-align: center;
  }
</style>
<div class="footer">
  <p>
    <h6>PokéBuilder</h6>
    Michael Cheng, Jake Goldman, Kristin Lin, and Philip Park<br>
    Uses Pokéapi V2
  </p>
</div>
</body>

</html>
