<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>

  <body>
      <!-- MAIN NAVBAR ============================================= -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" >
	
          <!-- the brand icon: -->
          <a class="navbar-brand" href="#brand">POKEBUILDER</a>

          <!-- the toggler button for when the navbar gets collapsed -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
              <span class="navbar-toggler-icon"></span>
          </button>

          <!-- the items in the navbar -->
          <div class="collapse navbar-collapse" id="navbar">
	    
	    <!-- the searchbar -->
	    <form class="form-inline" action="/search">
	      <input type="search" placeholder="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	    
            <div class="navbar-nav">
	      <a></a>
	    </div>
          </div>
      </nav>


      <!-- Basic grid layout -->
      <h3>Three Equal Columns</h3>
      <div class="row" style="border:1px solid">
        <div class="col-md-4">1</div>
        <div class="col-md-4">2</div>
        <div class="col-md-4">3</div>
      </div>

      <br>

      <h3>Mixed Grids</h3>
      <div class="row" style="border:1px solid">
        <div class="col-6 col-md-4">4</div>
        <div class="col-6 col-md-4">5</div>
        <div class="col-6 col-md-4">6</div>
      </div>


      <!-- javascript stuff required for dropdowns -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>

</html>
