{% extends "base.html" %}
{% block title %}
Pokebuilder
{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
      <form>
          <div class="form-group text-center">
              <label for="teamname"><h3>Team Name</h3></label>
              <input class="form-control" type="text" placeholder="Team Name" value="{{teamname}}" name="teamname" id="teamname">
          </div>
          <div class="form-group text-center">
              <label for="teamdesc"><h3>Description</h3></label>
              <textarea class="form-control" rows="3" name="teamdesc" id="teamdesc">{{ teamdesc }}</textarea>
          </div>
          <div class="form-group">
              <center><button type="submit">Save Changes</button><center>
          </div>
      </form>
  </div>
  <div class="row">
    <div class="col-8">
        <form action="/editpokemon">
            {% for pkmn in mons %}
            <div class="form-row">
                <h3>{{ pkmn[name] }}</h3>
                <div class="form-group">
                    <button type="button" class="btn btn-outline-primary" name="{{ pkmn[name] }}">EDIT</button>
                </div>
            </div>
            {% endfor %}
        </form>
        <button type="button" class="btn btn-outline-secondary" name="newpkmn">Add Pokemon</button>
    </div>
    <div class="col">
        <p>TEAM ANALYSIS AND STRENGTH/WEAKNESS COMING SOON<p>
    </div>
  </div>
</div>
{% endblock %}
