{% extends "base.html" %}
{% block title %}
PokeSelector
{% endblock %}

{% block background %}
background-image:url({{url_for('static',filename='cuteee.png')}});
background-size: 125%;
background-attachment: fixed;
{% endblock %}

{% block link %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block body %}
<div id="action" class="{{which}}"></div>
<div class="container">

  <div class="row">
    <div>
      <form id="pokeform" action="/{{action}}" method="POST" >
	  <h1>Select Pokémon</h1><select name="pokemon" id="pokemon" style="width:300px;" type="text">
          <!-- Dropdown List Option -->
	</select><img style="color: #384a66; padding-left: 10px;" alt="   Please select a pokemon" id="sprite">
  	<input name="img" type="hidden" id="spriteimg" value=""> 
	<br><br>
	<h5><span style="background-color: rgba(255, 255, 255, .7);">TYPES:</span></h5>
	<span id="type"></span>
	<span id="loading"> </span>
	<input name="type" type="hidden" id="typeinput" value="">
	<br>
	<h5><span style="background-color: rgba(255, 255, 255, .7);">ABILITY:</span></h5>

	<select name="ability" id="abilitieslist" style="width:300px;" type="text">
	</select>
	<br><br>
	<h5><span style="background-color: rgba(255, 255, 255, .7);">MOVES:</span></h5>
	<select name="move0" id="moveslist0" style="width:200px;" type="text">
	</select>
	<select name="move1" id="moveslist1" style="width:200px;" type="text">
	</select>
	<select name="move2" id="moveslist2" style="width:200px;" type="text">
	</select>
	<select name="move3" id="moveslist3" style="width:200px;" type="text">
	</select>
	<br>
	<span id="moves">
	</span>
	<br> 
	<button type="submit" class="btn btn-dark disabled" id="pokesubmit">Please select a pokémon first</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script src="{{ url_for('static', filename='editpokemon.js') }}" type='text/javascript'></script>
{% endblock %}
