{% extends "base.html" %}
{% block title %}
Pokebuilder
{% endblock %}

{% block background %}
background-image:url({{url_for('static',filename='cuteee.png')}});
background-size: 125%;
background-attachment: fixed;
{% endblock %}

{% block body %}
{% if created == "False" %}
{% set team = [new_teamid, '', '', '', '', '', '', '', ''] %}
{% endif %}
<div class="container">
  <form action="/{{action}}" method="POST">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="form-group text-center">
          <label for="teamname"><h3>Team Name</h3></label>
          <input class="form-control" type="text" placeholder="Team Name" value="{{team[2]}}" name="teamname" id="teamname">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group text-center">
         <label for="teamvers"><h3>Game Version</h3></label>
         <input class="form-control" type="text" placeholder="Game Version" value="{{team[4]}}" name="teamvers" id="teamvers">
       </div>
     </div>
   </div>
   <br>
   <div class="row justify-content-center">
    <div class="col-8">
      <div class="form-group text-center">
        <label for="teamdesc"><h3>Description</h3></label>
        <textarea class="form-control" rows="3" cols="20" name="teamdesc" id="teamdesc">{{ team[3] }}</textarea>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="form-group">
      <center><button type="submit" class="btn btn-primary">Save Changes</button><center>
      </div>
    </div>
  </form>
  <br>
  {% if showPokemon %}
  <div class="row" style="margin-bottom: 20px">
    <div class="col-6">
     <form action="/createpokemon">
      <button style="margin-bottom: 20px;" type="submit" class="btn btn-dark" name="teamid" value="{{team[0]}}">Add Pokémon</button>
    </form>
    <form action="/editpokemon" style="background-color: rgba(220,220,220,0.8)">
      <!-- pokemon is a dictionary of the pokemon on the team keyed by pkminid -->
      {% for pkmn in pokemon %}
      <div class="form-row">
        <div class="col-3">
          <img src="{{ pokemon[pkmn][1]}}">
        </div>
        <div class="col-6 text-left">
          <h3 style="margin-top: 20px;">{{ pokemon[pkmn][0]}}</h3>    
        </div>
        <div class="col-1">
          <div class="form-group">
            <!--each button should have their own action; use the teamid and the pokemon id (pkmn)-->
            <button style="margin-top: 20px; padding-left: 35px;padding-right: 35px;" type="submit" class="btn btn-primary" value="{{pkmn}},{{team[0]}}" name="pkmnid">Edit</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </form>

  </div>
  <div class="col">
    <p>TEAM ANALYSIS AND STRENGTH/WEAKNESS COMING SOON<p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
