{% extends "base.html" %}
{% block title %}
Pokebuilder
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <h2>Hello, {{user}}</h2>
        <br><br>
    </div>
    <div class="row">
        <div class="col">
            <h3>YOUR TEAMS</h3>
            {% for i in my_teams %}
            NAME: {{i[0]}} <br>
            DESC: {{i[1]}} <br><br>
            {% endfor %}
        </div>
        <div class="col">
            <h3>FAVORITED TEAMS</h3>
            {% for i in fav_teams %}
            NAME: {{i[0]}} <br>
            DESC: {{i[1]}} <br><br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
