{% extends "base.html" %}
{% block title %}
Pokebuilder
{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <h2>Hello, {{user}}</h2>
    <br><br>
  </div>
  <div class="row">
    <div class="col">
      <h3>YOUR TEAMS</h3>
      <!-- my_teams is a dictionary of teams keyed by teamid with the value as the name -->
      {% for team in my_teams %}
      <div class="row">
	<a href="/viewteam?id={{team[0]}}">
          NAME: {{ team[1] }}
	</a>
      </div>
      {% endfor %}
    </div>
    <div class="col">
      <h3>FAVORITED TEAMS</h3>
      <!-- fav_teams is a dictionary of teams keyed by teamid with the value as the name -->
      {% for team in fav_teams %}
      <div class="row">
	<a href="/viewteam?id={{team[0]}}">
          NAME: {{ team[1] }}
	</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
