{% extends "base.html" %}

{% block title %}
Pokebuilder
{% endblock %}

{% block background %}
background-image:url({{url_for('static',filename='madcute.jpg')}});
{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <br><br><br><br>
      <form action="/signup" method="POST">
	<div class="row justify-content-center">
	  <span style="font-weight: bold; 
		       background-color: rgba(255, 255, 255, 0.5);
		       color: black; 
		       font-size: 22px">SIGN UP</span>
	</div>
	<br>
	<div class="form-group">
          <input type="text" name="usr" id="inputUsername" class="form-control" placeholder="username" required autofocus>
          <input type="password" name="pwd" id="inputPassword" class="form-control" placeholder="password" required>
	  <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
	</div class="form-group">
      </form>
    </div>
  </div>
</div> <!-- /container -->
{% endblock %}
