{% extends "base.html" %}
{% block title %}
Pokebuilder
{% endblock %}
{% block body %}
<div class="container">
    <form action="/signup" method="POST">
        <center><h3>Please create an account</h2></center>
        <div class="form-group">
            <input type="text" name="usr" id="inputUsername" class="form-control" placeholder="username" required autofocus>
            <input type="password" name="pwd" id="inputPassword" class="form-control" placeholder="password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
        </div class="form-group">
    </form>
</div> <!-- /container -->
{% endblock %}
