{% extends "base.html" %}
{% block title %}
Poke Viewer
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class = "col-8">
      <h1>{{ team[2] }}</h1>
      <span style="color: blue">BY:</span> {{ team[1] }} |
      <span style="color: blue">GAME VERSION:</span> {{ team[4] }}
    </div>
    <div class = "col-md-auto offset-md-3">
      <form action="/viewteam">
	{% if mine %}
	<button type="submit" name="edit" class="btn btn-outline-primary">Edit</button>
	{% else %}
	<button type="submit" name="favorite" class="btn btn-outline-primary">Favorite</button>
	{% endif %}
      </form>
    </div>
  </div>
  <hr><br>

  <div class = "row justify-content-center">
    <div class = "col-10">
      <h4>Description</h4>
      {{ team[3] }}
      <br><br><br>
    </div>
  </div>
  <div class = "row justify-content-center">
    <div class = "col-5">
      <h4>Weaknesses</h4>
      {{ team[5] }}
    </div>
    <div class = "col-5">
      <h4>Strengths</h4>
      {{ team[6] }}
    </div>
  </div>
  <br><br>
  <div class = "row justify-content-center">
    <div class = "col-10">
      <h4>Pokemon</h4>
      {% for poke in poke_teams %}
      {{poke}}<br>
      {% endfor %}
    </div>
  </div>    
</div>
{% endblock %}
